body {
  background-color: rgb(69, 52, 146);
}

h1 {
  color: white;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

p {
  font-family: verdana;
  font-size: 20px;
}