
.topnav {
  background-color: rgb(56, 56, 56);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 1.5em;
  font-family: 'Arial Black';
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgba(117,9,9,0.664);
  color: white;
}

.pdf {
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

.homepage {
  color: white;
  font-family: "Arial Black";
  margin-top: 100px;
}

.homepage p{
  font-size: 1.5em;
  text-align: center;
  line-height:150%;
  color: black;
  
}

.homepage img{
  border-radius: 30%;
  border: 5px solid black;
  width: 340px;
  height: 360px;
  margin-bottom: 50px;
}

.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

.intro {
      color: white;
      border: 3px outset rgb(0,0,0,0.5);
      border-radius: 20px;
      background-color: rgba(117, 9, 9, 0.664);
      text-align: center;
      font-family: 'Arial Black';
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 100px;
 }
.intro p{
  font-size:1.5em;
}
.intro h1{
  font-size:2em;
}

.links h1{
  text-align: center;
  font-size: 3em;
  font-family:'Arial Black';
  color:black;
}
.links p{
  color:black;
  font-family:'Arial Black';
  font-size: 1.5em;
  text-align: center;
}

.links a{
  color:black;
  font-family:'Arial Black';
  font-size: 1.5em;
  text-align: center;
}

.setup h1{
  margin-left:70px;
  color: rgb(117,9,9);
  font-family: 'Arial Black';
  font-size: 1.5em;
}

.setup p{
  margin-left: 70px;
  color: black;
  font-family: 'Arial Black';
  font-size: 1.4em;
}

.setup a{
  margin-left: 30px;
  color: black;
  font-family: 'Arial Black';
  font-size: 1.3em;
}