/* body gradient and animation start */
body {
    font-family: "Courier New", Courier, monospace;
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      -45deg,
      #bfb2f3,
      #96caf7,
      #9cdcaa,
      #e5e1ab,
      #f3c6a5,
      #f8a3a8
    );
    background-size: 400% 400%;
    position: relative;
    animation: change 5s ease-in-out infinite;
  }
  
  /* applies to root, just to make items in the nav bar not ugly */
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  /* The logo and the text */
  #body-peach {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    display: inline-block;
  }
  
  body h2 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: #e58b88;
    font-weight: bold;
    text-shadow: 2px 2px #888888;
    display: inline-block;
  
    animation: type 10s steps(10) infinite;
    overflow: hidden;
    white-space: nowrap;
    width: 10ch;
  }
  
  /* Nav bar settings */
  nav {
    height: 80px;
    background: #96caf7;
    box-shadow: 5px 5px 4px #888888;
    position: relative;
  }
  
  nav h1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #e58b88;
    font-weight: bold;
    text-shadow: 2px 2px #999999;
  }
  
  nav img {
    width: 50px;
    position: absolute;
    top: 17px;
    left: 12%;
  }
  
  nav ul {
    float: right;
    margin-right: 25px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
  }
  nav ul li a {
    position: relative;
    color: #e58b88;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  /* Adding the hover effect and settings for mobile view */
  nav ul li a:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #e58b88;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s linear;
  }
  nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  /* using the labels as buttons, there is a hidden checkbox that is 
  being checked and unchecked by the two 'buttons' */
  
  label #btn,
  label #cancel {
    color: #e58b88;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  
  /* Some casual settings for different devices */
  
  @media (max-width: 1118px) {
    nav img {
      left: 8%;
    }
    nav h1 {
      display: block;
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-35%, -50%);
      font-size: 30px;
      color: #e58b88;
      font-weight: bold;
      text-shadow: 2px 2px #999999;
    }
  }
  @media (max-width: 944px) {
    nav img {
      left: 6%;
      top: 20px;
      width: 40px;
    }
    nav ul li a {
      font-size: 17px;
    }
    nav h1 {
      display: block;
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-30%, -50%);
      font-size: 30px;
      color: #e58b88;
      font-weight: bold;
      text-shadow: 2px 2px #999999;
    }
  }
  /* The main settings for mobile devices */
  @media (max-width: 860px) {
    label #btn {
      display: block;
    }
    nav h1 {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      justify-content: center;
      transform: translate(-50%, -50%);
      font-size: 30px;
      color: #e58b88;
      font-weight: bold;
      text-shadow: 2px 2px #888888;
    }
    body h2 {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      justify-content: center;
      transform: translate(-50%, -50%);
      font-size: 8vw;
      color: #e58b88;
      font-weight: bold;
      text-shadow: 2px 2px #888888;
      display: inline-block;
  
      animation: type 10s steps(10) infinite;
      overflow: hidden;
      white-space: nowrap;
      width: 10ch;
    }
  
    #body-peach {
      width: 75px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -150%);
      display: inline-block;
    }
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #96caf7;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.2s;
      z-index: 10;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }
    #check:checked ~ ul {
      left: 0%;
    }
    #check:checked ~ h2 {
      display: none;
    }
    #check:checked ~ label #btn {
      display: none;
    }
    #check:checked ~ label #cancel {
      display: block;
    }
  }
  
  /* Background Gradient */
  @keyframes change {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  
  /* The typing animations */
  @keyframes type {
    0% {
      width: 0ch;
    }
    10% {
      width: 10ch;
    }
    100% {
      width: 10ch;
    }
  }
  